<div class="row">
   <div class="col-12">
      <%= link_to new_order_path do %>
         <div class="card text-white mb-3">

            <%= image_tag 'lottie_sniff.jpg', class: 'card-img' %>
            <div class="card-img-overlay">
            </div>
         </div>
      <% end %>
   </div>
</div>

<div id="accordion">


<% @orders.each do |order| %>

  <div class="card mt-1">

    

    <div class="card-header" data-toggle="collapse" data-target="#order<%= order.id %>">

      <!-- <div id="order-head" class="btn btn-link collapsed" data-toggle="collapse" data-target="#order<%= order.id %>"> -->
      <h4 class="display-4">
        
          <%= order.ordered_at.strftime("%a %d %B %Y") %>
    
      </h5>
    <!-- </div> -->
  </div>
      <div class="card-body">

         <div id="order<%= order.id %>" class="collapse" data-parent="#accordion">

            <%= simple_form_for order do |f| %>

               <%= f.simple_fields_for :lines do |line| %>
                  <%= render 'line_fields', f: line %>
               <% end %>

               <div>
                 <%= link_to_add_association 'Add line', f, :lines, class: "big-butt btn btn-lg btn-primary mb-4" %>

                  <%= f.submit 'Update', class: "big-butt btn btn-lg btn-success ml-auto mb-4 float-right", 'data-disable-with': 'Updating...' %>
                </div>

            <% end %>

            <%= link_to 'Delete Order', order, method: :delete, class: "big-butt btn btn-lg btn-danger float-right" %>

      </div>
    </div>

  </div>

<% end %>

</div>

<%= render 'base_prices' %>